h1 {color: red;}
 
body {color: blue ; background-image: url(""); }
a {  color: red; }
ul{text-align: left;}
h1{ text-align: center;}
table{ color: Black; font-size:23pt; font-family:Snap ITC; }
 body{ background-color: BLACK;}
 tr{background-color:DimGrey;}
 H2{ TEXT-ALIGN:CENTER; FONT-SIZE:25PT;}
 a{ font-size:20pt;}
 p{TEXT-ALIGN:CENTER; color:powderblue; font-size:15pt;}
ul{ font-family:AR DARLING;}


 

